<p-toast></p-toast>
<div class="card mb-5 mb-xl-10">
  <div class="card-header border-0 cursor-pointer"
    role="button"
    data-bs-toggle="collapse"
    data-bs-target="#kt_account_signin_method">
    <div class="card-title m-0">
      <h3 class="fw-bolder m-0">Método de registro</h3>
    </div>
  </div>
  <div id="kt_account_signin_method" class="collapse show" *ngIf="user$ | async as _user">
    <div class="card-body border-top p-9">
      <ng-container *ngIf="!showChangeEmailForm">
        <div class="d-flex flex-wrap align-items-center">
          <div id="kt_signin_email" class="false">
            <div class="fs-6 fw-bolder mb-1">Correo Electronico</div>
            <div class="fw-bold text-gray-600">{{ _user.email }}</div>
          </div>
          <div id="kt_signin_email_edit" class="flex-row-fluid d-none">
            <form id="kt_signin_change_email" class="form" novalidate="">
              <div class="row mb-6">
                <div class="col-lg-6 mb-4 mb-lg-0">
                  <div class="fv-row mb-0">
                    <label for="emailaddress"
                           class="form-label fs-6 fw-bolder mb-3">
                      Introduzca la nueva dirección de correo electrónico
                    </label>
                    <input type="email" class="form-control form-control-lg form-control-solid"
                           id="emailaddress" placeholder="Correo Electronico" name="email"/>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="fv-row mb-0">
                    <label for="confirmemailpassword" class="form-label fs-6 fw-bolder mb-3">Confirmar Contraseña</label>
                    <input
                      type="password"
                      class="form-control form-control-lg form-control-solid"
                      id="confirmemailpassword"
                      name="confirmPassword"
                      value=""/>
                    <div class="fv-plugins-message-container">
                      <div class="fv-help-block">La contraseña es obligatoria</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <button type="submit" class="btn btn-primary me-2 px-6">
                  Actualizar Correo
                </button>
                <button id="kt_signin_cancel" type="button" class="btn btn-color-gray-400 btn-active-light-primary px-6">
                  Cancelar
                </button>
              </div>
            </form>
          </div>
          <div id="kt_signin_email_button" class="ms-auto false">
            <button class="btn btn-light btn-active-light-primary" (click)="toggleEmailForm(true)">
              Cambiar Correo
            </button>
          </div>
        </div>
      </ng-container>
      <ng-container *ngIf="showChangeEmailForm">
        <div class="d-flex flex-wrap align-items-center">
          <div class="d-none">
            <div class="fs-6 fw-bolder mb-1">Correo Electronico</div>
            <div class="fw-bold text-gray-600">{{ _user.email }}</div>
          </div>
          <div class="flex-row-fluid false">
            <form class="form" novalidate="" (ngSubmit)="saveEmail()" [formGroup]="emailForm">
              <div class="row mb-6">
                <div class="col-lg-6 mb-4 mb-lg-0">
                  <div class="fv-row mb-0">
                    <label for="emailaddress" class="form-label fs-6 fw-bolder mb-3">
                      Ingrese el nuevo correo electronico
                    </label>
                    <input type="email" class="form-control form-control-lg form-control-solid"
                           placeholder="Correo Electronico" name="email"
                           formControlName="email" autocomplete="off"/>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Email es obligatorio',
                      control: emailForm.controls['email']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'email',
                      message: 'Email no valido',
                      control: emailForm.controls['email']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'minlength',
                      message: 'Email should have at least 3 symbols',
                      control: emailForm.controls['email']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'maxLength',
                      message: 'El correo electrónico debe tener un máximo de 360 símbolos',
                      control: emailForm.controls['email']
                    }">
                    </ng-container>
                  </div>
                </div>
              </div>
              <div class="d-flex">
                <button id="kt_signin_submit" type="button"
                  class="btn btn-primary me-2 px-6" (click)="saveEmail()">
                  <ng-container *ngIf="!isLoading"> Actualizar Correo </ng-container>
                  <ng-container *ngIf="isLoading">
                    <span class="indicator-progress" [style.display]="'block'">
                      Espere por favor...{{ " " }}
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                  </ng-container>
                </button>
                <button type="button"
                  class="btn btn-color-gray-400 btn-active-light-primary px-6"
                  (click)="toggleEmailForm(false)">
                  Cancelar
                </button>
              </div>
            </form>
          </div>
        </div>
      </ng-container>

      <div class="separator separator-dashed my-6"></div>

      <ng-container *ngIf="!showChangePasswordForm">
        <div class="d-flex flex-wrap align-items-center mb-10">
          <div id="kt_signin_password" class="false">
            <div class="fs-6 fw-bolder mb-1">Contraseña</div>
            <div class="fw-bold text-gray-600">************</div>
          </div>
          <div id="kt_signin_password_button" class="ms-auto false">
            <button class="btn btn-light btn-active-light-primary"
              (click)="togglePasswordForm(true)">
              Cambiar Contraseña
            </button>
          </div>
        </div>
      </ng-container>

      <ng-container *ngIf="showChangePasswordForm">
        <div class="d-flex flex-wrap align-items-center mb-10">
          <div id="kt_signin_password_edit" class="flex-row-fluid false">
            <form id="kt_signin_change_password" class="form" novalidate="" (ngSubmit)="savePassword()" [formGroup]="passwordForm">
              <div class="row mb-1">
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label for="currentpassword" class="form-label fs-6 fw-bolder mb-3">
                      Contraseña actual
                    </label>
                    <input type="password" class="form-control form-control-lg form-control-solid"
                           id="currentpassword" name="currentPassword"
                           formControlName="currentPassword"
                           autocomplete="off"
                           [ngClass]="{
                              'is-invalid': passwordForm.controls['currentPassword'].invalid,
                              'is-valid': passwordForm.controls['currentPassword'].valid
                            }"/>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Se requiere una contraseña',
                      control: passwordForm.controls['currentPassword']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'minlength',
                      message: 'La contraseña debe tener al menos 8 símbolos',
                      control: passwordForm.controls['currentPassword']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'maxLength',
                      message: 'La contraseña debe tener un máximo de 100 símbolos',
                      control: passwordForm.controls['currentPassword']
                    }">
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label for="newpassword" class="form-label fs-6 fw-bolder mb-3">Nueva Contraseña</label>
                    <input type="password" class="form-control form-control-lg form-control-solid"
                           id="newpassword" name="password"
                           formControlName="password"
                           autocomplete="off"
                           [ngClass]="{
                              'is-invalid': passwordForm.controls['password'].invalid,
                              'is-valid': passwordForm.controls['password'].valid
                            }"/>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Se requiere una contraseña',
                      control: passwordForm.controls['password']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'minlength',
                      message: 'La contraseña debe tener al menos 8 símbolos',
                      control: passwordForm.controls['password']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'maxLength',
                      message: 'La contraseña debe tener un máximo de 100 símbolos',
                      control: passwordForm.controls['password']
                    }">
                    </ng-container>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="fv-row mb-0">
                    <label for="confirmpassword" class="form-label fs-6 fw-bolder mb-3">
                      Confirmar nueva contraseña
                    </label>
                    <input type="password" class="form-control form-control-lg form-control-solid"
                           id="confirmpassword" name="cPassword"
                           formControlName="cPassword"
                           autocomplete="off"
                           [ngClass]="{
                              'is-invalid': passwordForm.controls['cPassword'].invalid,
                              'is-valid': passwordForm.controls['cPassword'].valid
                            }"/>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'required',
                      message: 'Se requiere una contraseña',
                      control: passwordForm.controls['cPassword']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'minlength',
                      message: 'La contraseña debe tener al menos 8 símbolos',
                      control: passwordForm.controls['cPassword']
                    }">
                    </ng-container>
                    <ng-container
                      [ngTemplateOutlet]="formError"
                      [ngTemplateOutletContext]="{
                      validation: 'maxLength',
                      message: 'La contraseña debe tener un máximo de 100 símbolos',
                      control: passwordForm.controls['cPassword']
                    }">
                    </ng-container>
                  </div>
                </div>
              </div>
<!--              <ng-container *ngIf="passwordForm.controls['password'].errors && passwordForm.controls['cPassword'].errors.ConfirmPassword">-->
<!--                <div class="fv-plugins-message-container">-->
<!--                  <div class="fv-help-block">-->
<!--                    a palabra clave y la contraseña no coinciden.-->
<!--                  </div>-->
<!--                </div>-->
<!--              </ng-container>-->
              <div class="form-text mb-5">
                La contraseña debe tener al menos 8 caracteres y contener símbolos
              </div>
              <div class="d-flex">
                <button id="kt_password_submit" type="button" class="btn btn-primary me-2 px-6" (click)="savePassword()">
                  <ng-container *ngIf="!isLoading">Actualizar Contraseña</ng-container>
                  <ng-container *ngIf="isLoading">
                    <span class="indicator-progress" [style.display]="'block'">
                      Espere por Favor...{{ " " }}
                      <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                    </span>
                  </ng-container>
                </button>
                <button id="kt_password_cancel" type="button"
                  class="btn btn-color-gray-400 btn-active-light-primary px-6"
                  (click)="togglePasswordForm(false)">
                  Cancelar
                </button>
              </div>
            </form>
          </div>
          <div class="ms-auto d-none">
            <button class="btn btn-light btn-active-light-primary">
              Cambiar Contraseña
            </button>
          </div>
        </div>
      </ng-container>

      <ng-template #formError let-control="control" let-message="message" let-validation="validation">
        <ng-container *ngIf="control.hasError(validation) && (control.dirty || control.touched)">
          <div class="fv-plugins-message-container">
          <span role="alert">
            {{ message }}
          </span>
          </div>
        </ng-container>
      </ng-template>
    </div>
  </div>
</div>
