<!-- Dashboard -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/dashboard">
    <span class="menu-title" translate="MENU.DASHBOARD"></span>
  </a>
</div>

<!-- Users -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/users">
    <span class="menu-title" translate="MENU.USERS"></span>
  </a>
</div>

<!-- Packages -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink=packages>
    <span class="menu-title">Paquetes</span>
  </a>
</div>

<!-- Reservations -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink=reservations>
    <span class="menu-title">Reservaciones</span>
  </a>
</div>

<!-- Promotions -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink=promotions>
    <span class="menu-title">Promociones</span>
  </a>
</div>


<!-- Tasks -->
<div class="menu-item me-lg-1">
  <a class="menu-link py-3" routerLinkActive="active" routerLink="/gallery">
    <span class="menu-title">Galleria</span>
  </a>
</div>