<!--<div class="nav-net-social">-->
<!--  <ul id="list-primary">-->
<!--    <li class="items-primary">-->
<!--      <a href="tel:+527225850178">-->
<!--        <i class="pi pi-phone"></i>-->
<!--        7225850178-->
<!--      </a>-->
<!--    </li>-->
<!--    <li class="items-primary item-right">-->
<!--      <ul>-->
<!--        <li>-->
<!--          <a href="https://www.facebook.com/gotchadiablo" target="_blank">-->
<!--            <i class="pi pi-facebook"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="" target="_blank">-->
<!--            <i class="pi pi-twitter"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="https://www.youtube.com/channel/UCE5Ncf-6Igg77SGjgSCqZ5w" target="_blank">-->
<!--            <i class="pi pi-youtube"></i>-->
<!--          </a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </li>-->
<!--  </ul>-->
<!--</div>-->
<div class="navbar-primary">
  <ul class="list-navbar-primary">
    <li class="items-navbar">
      <a routerLink="/">
        <img src="assets/images/logoC.png" class="cursor" alt="Logo">
      </a>
    </li>
    <li class="items-navbar item-right">
      <a (click)="openMenu()" class="cursor" [class.hidden]="displayMenu">
        <i class="pi pi-bars" *ngIf="!open"></i>
        <i class="pi pi-times" *ngIf="open"></i>
      </a>
      <ul [class.show]="open">
        <li routerLink="/paquetes" (click)="!displayMenu ? openMenu(): ''" class="cursor">
          <a>
            Paquetes
          </a>
        </li>
        <li routerLink="/galeria" (click)="!displayMenu ? openMenu(): ''" class="cursor">
          <a>
            Galeria
          </a>
        </li>
        <li routerLink="/reservaciones" (click)="!displayMenu ? openMenu(): ''" class="cursor">
          <a>
            Reservaciones
          </a>
        </li>
        <li routerLink="/contacto" (click)="!displayMenu ? openMenu(): ''" class="cursor">
          <a>
            Contacto
          </a>
        </li>
        <li (click)="logout()" class="cursor" *ngIf="user$ | async as _user">
          <a>
            Salir
          </a>
        </li>
        <li routerLink="/auth/login" (click)="!displayMenu ? openMenu(): ''" class="cursor" [ngClass]="{'d-none': user$ | async}">
          <a>
            Entrar
          </a>
        </li>
      </ul>
    </li>
  </ul>
</div>
<div class="line"></div>

