<!-- begin::Header -->
<div class="card-header border-0 pt-5 d-flex justify-content-between">
    <h3 class="card-title align-items-start flex-column">
        <span class="card-label fw-bolder fs-3 mb-1">Lista, creación, edición de Promociones</span>
    </h3>
    <div class="card-toolbar">
        <button pButton pRipple type="button" icon="pi pi-plus" (click)="created()" label="Crear" class="p-button-rounded p-button-info" ></button>
    </div>
</div>
<button class="d-none" (click)="setUnit()" #btn></button>
<!-- end::Header -->
<!-- begin::Body -->
<div class="card-body py-3">
    <!-- begin::Table container -->
    <div class="table-responsive">
        <p-table #dt [value]="promotions" [(selection)]="selectedPromotions" dataKey="id" styleClass="p-datatable-customers" [rowHover]="true"
                 [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" [loading]="loading" responsiveLayout="scroll"
                 [paginator]="true" currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} usuarios"
                 [filterDelay]="0" [globalFilterFields]="['name','dateStart', 'dateEnd', 'active']">
            <ng-template pTemplate="caption">
                <div class="bg-light- row flex align-items-center justify-content-end">
                    <div class="col">
                        <h5 class="m-0"></h5>
                    </div>
                    <div class="col d-flex  justify-content-end">
                        <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal(search.value, 'contains')" placeholder="Busqueda Global" #search/>
                    </span>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header" class="bg-primary">
                <tr>
                    <th style="width: 10rem">Imagen</th>
                    <th pSortableColumn="name">
                        <div class="flex justify-content-between align-items-center">
                            Nombre
                            <p-sortIcon field="name"></p-sortIcon>
                            <p-columnFilter type="text" field="name" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="date">
                        <div class="flex justify-content-between align-items-center">
                            Fecha de Inicio
                            <p-sortIcon field="date"></p-sortIcon>
                            <p-columnFilter type="date" field="date" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th pSortableColumn="date">
                        <div class="flex justify-content-between align-items-center">
                            Fecha de Fin
                            <p-sortIcon field="date"></p-sortIcon>
                            <p-columnFilter type="date" field="date" display="menu" class="ml-auto"></p-columnFilter>
                        </div>
                    </th>
                    <th  style="width: 12rem" pSortableColumn="active">
                        <div class="flex justify-content-between align-items-center">
                            Status
                            <p-sortIcon field="active"></p-sortIcon>
                            <p-columnFilter field="active" matchMode="equals" [showMenu]="false">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)" placeholder="Todos" [showClear]="true">
                                        <ng-template let-option pTemplate="item">
                                            <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </div>
                    </th>
                    <th style="width: 12rem">
                        <div class="flex justify-content-end align-items-center">
                            <span class="float-end">Acciones</span>
                        </div>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-promotion let-ri="rowIndex">
                <tr class="p-selectable-row">
                    <td>
                        <div class="d-flex align-items-center">
                            <div class="symbol me-5">
                                <img [src]="promotion._id | image: 'promotions'" width="100px" class="cursor-pointer" [alt]="promotion.name" (click)="editPromotion(promotion)"/>
                            </div>
                        </div>
                    </td>
                    <td (click)="editPromotion(promotion)">
                        <span class="p-column-title">nombre</span>
                        <span>{{promotion.name}}</span>
                    </td>
                    <td (click)="editPromotion(promotion)">
                        <span class="p-column-title">fecha inicio</span>
                        {{ promotion.dateStart | date: 'short' }}
                    </td>
                    <td (click)="editPromotion(promotion)">
                        <span class="p-column-title">fecha fin</span>
                        {{ promotion.dateEnd | date: 'short' }}
                    </td>
                    <td>
                        <span class="p-column-title">status</span>
                        <span class="badge badge-light-success fs-7 fw-bold" *ngIf="promotion.active">Activo</span>
                        <span class="badge badge-light-danger fs-7 fw-bold" *ngIf="!promotion.active">In Activo</span>
                    </td>
                    <td style="text-align: center">
                        <!--                        <button pButton type="button" class="p-button-secondary" icon="pi pi-cog"></button>-->
                        <button type="button" (click)="active(promotion._id, !promotion.active)"
                                [title]="promotion.active ? 'Desactivar':'Activar'"
                                class="btn btn-icon btn-bg-light btn-sm me-1"
                                [class.btn-active-color-danger]="promotion.active"
                                [class.btn-active-color-success]="!promotion.active"
                                [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen019.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                        <button type="button" (click)="editPromotion(promotion)" class="btn btn-icon btn-bg-light btn-active-color-primary btn-sm me-1" title="Editar" [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/art/art005.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                        <button type="button"
                                title="Eliminar"
                                (click)="delete(promotion.uid)"
                                class="btn btn-icon btn-bg-light btn-active-color-danger btn-sm cursor-pointer"
                                [disabled]="isLoading">
                            <ng-container *ngIf="!isLoading">
                                <span [inlineSVG]="'./assets/media/icons/duotune/general/gen027.svg'" class="svg-icon svg-icon-3"></span>
                            </ng-container>
                            <ng-container *ngIf="isLoading">
                                <span class="indicator-progress" [style.display]="'block'">
                                    <span class="spinner-border spinner-border-sm align-middle ms-2"></span>
                                </span>
                            </ng-container>
                        </button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No se encontro ninguna promoción.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [header]="create ? 'Crear Promoción':'Editar Promoción ' + promotion.name" [(visible)]="promotionDialog"
          [modal]="true" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
          [draggable]="true" [resizable]="true">
    <ng-template pTemplate="body">
        <form (ngSubmit)="savePromotion(formCreate)"  #formCreate="ngForm">
            <img [src]="thumbnail" *ngIf="thumbnail" width="150px" class="img-fluid cursor-pointer" (click)="file.click()">
            <img src="assets/media/misc/image.png" *ngIf="!imageInit && !thumbnail && !promotion.image" width="150px" class="img-fluid cursor-pointer" (click)="file.click()">
            <img [src]="promotion._id | image: 'promotions'" [alt]="promotion.image" width="150px" class="product-image cursor-pointer" *ngIf="promotion.image && !thumbnail" (click)="file.click()">
            <input type="file" name="image" id="image" class="d-none" (change)="getImage($event)" #file>
            <div class="p-fluid grid row">
                <div class="field col-12 mt-5 pt-3">
                    <span class="p-float-label">
                      <input type="text" id="name" name="name" pInputText [(ngModel)]="promotion.name" autocomplete="off" required>
                      <label for="name">Nombre</label>
                  </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                    <span class="p-float-label">
                      <p-inputNumber [(ngModel)]="promotion.price" name="price" inputId="currency-mx" mode="currency" currency="MXN" locale="es-MX"></p-inputNumber>
                      <label for="name">Precio</label>
                  </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                    <label for="dateStart">Descripción</label>
                    <span class="p-float-label">
                        <p-editor [(ngModel)]="promotion.description" name="description" [style]="{'height':'320px'}"></p-editor>
                    </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                    <label for="dateStart">Introducción</label>
                    <span class="p-float-label">
                        <p-editor [(ngModel)]="promotion.intro" name="intro" [style]="{'height':'320px'}"></p-editor>
                    </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                    <label for="dateStart">Fecha de inicio</label>
                    <span class="p-float-label">
                        <p-calendar [(ngModel)]="dateStart"  [inline]="true" hourFormat="12" [showTime]="true" name="dateStart" inputId="dateStart" id="dateStart"></p-calendar>
                    </span>
                </div>
                <div class="field col-12 mt-5 pt-3">
                    <label for="dateEnd">Fecha de fin</label>
                    <span class="p-float-label">
                        <p-calendar [(ngModel)]="dateEnd" [inline]="true" hourFormat="12" [showTime]="true" name="dateEnd" inputId="dateEnd" id="dateEnd"></p-calendar>
                    </span>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-5">
                <p-button icon="pi pi-ban" (click)="promotionDialog=false" label="Cancelar" styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                <p-button type="submit" icon="pi pi-check"
                          *ngIf="formCreate.valid"
                          label="Guardar"
                          styleClass="p-button-rounded p-button-success"></p-button>
            </div>
        </form>
    </ng-template>
</p-dialog>
